* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
:root {
  --Blue: hsl(246, 80%, 60%);
  --Soft_red: hsl(15, 100%, 70%);
  --Soft_blue: hsl(195, 74%, 62%);
  --Light_red: hsl(348, 100%, 68%);
  --Lime_green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft_orange: hsl(43, 84%, 65%);
  /*  Neutral */
  --Very_dark_blue: hsl(226, 43%, 10%);
  --Dark_blue: hsl(235, 46%, 20%);
  --Desaturated_blue: hsl(235, 45%, 61%);
  --Pale_Blue: hsl(236, 100%, 87%);
}
.note {
  display: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--Very_dark_blue);
  width: 100%;
  height: 100vh;
  padding-right: 50px;
}

.profile {
  display: grid;
  grid-template-columns: 180px 540px;
  grid-template-rows: 200px 200px;
  gap: 25px;
}
.distributions {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: 200px 200px;
  gap: 25px;
}
.profile_menu {
  background-color: var(--Dark_blue);
  grid-row: 1/3;
  border-radius: 10px;
}
.profile_name {
  background-color: var(--Blue);
  height: 70%;
  border-radius: 15px;
  padding: 20px;
}
.profile_name p {
  text-align: left;
  font-size: 30px;
  margin: 30px auto;
}
.profile_name p span {
  font-size: 15px;
  color: var(--Pale_Blue);
}
.profile_name img {
  margin: auto auto;
  width: 90px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all 0.3s;
}
.profile_name img:hover {
  transform: translateY(-5px) scale(1.2);
}
.nav_date ul {
  list-style: none;
  text-align: left;
  margin: 30px;
}
li {
  color: var(--Desaturated_blue);
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
li:hover {
  color: antiquewhite;
  transform: translateY(-3px) scale(1.1);
}
.active {
  color: antiquewhite;
  transform: translateX(-3px) scale(1.1);
}
.card {
  position: relative;
  border-radius: 10px;
  /* border: 1px solid #fff; */
  overflow: hidden;
}
.card .card_icon img {
  position: absolute;
  width: 55px;
  right: 10px;
  z-index: 0;
}

.content {
  position: relative;
  padding: 15px;
  margin-top: 35px;
  background-color: var(--Dark_blue);
  bottom: 0;
  height: 100%;
  border-radius: 15px;
  z-index: 3333;
  transition: all 0.3s;
}
.content:hover {
  background-color: hsl(236, 50%, 25%);
}
.content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.content nav img {
  width: 20px;
  transition: all 0.3s;
}
.content nav img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.cur_time {
  font-size: 3em;
  font-weight: 400;
  margin: 10px auto;
}
.pre_time {
  color: var(--Desaturated_blue);
}
.Work {
  background-color: var(--Soft_red);
}
.Play {
  background-color: var(--Soft_blue);
}
.Study {
  background-color: var(--Light_red);
}
.Exercise {
  background-color: var(--Lime_green);
}
.Social {
  background-color: var(--Violet);
}
.Self-Care {
  background-color: var(--Soft_orange);
}

@media (max-width: 650px) {
  body {
    height: fit-content;
  }

  .profile,
  .distributions {
    display: flex;
    flex-direction: column;
  }
  .profile {
    margin: 20px;
  }

  .profile_name {
    display: flex;
    padding: 0 20px;
  }
  .profile_menu p {
    font-size: 20px;
    line-height: 20px;
  }
  .profile_menu p span {
    font-size: 12px;
  }
  .profile_name img {
    width: 60px;
    margin-right: 20px;
  }
  .nav_date {
    margin: 0 30px;
  }
  .profile_menu ul {
    display: flex;
    justify-content: space-between;
  }
  .card {
    border-radius: 15px;
  }
  .card .duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .duration h1 {
    font-size: 25px;
    margin: 0;
  }
  .card .duration p {
    font-weight: 500;
  }
  .active {
    color: antiquewhite;
    transform: translateY(-3px) scale(1.1);
  }
}
